*{
    margin: 0;
  }
  
  .app{
    background-color: wheat;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/inconnect-b0ef1.appspot.com/o/LOGO%2FBilly--002.jpg?alt=media&token=cd7741cc-9b0b-4fc9-821f-ae8c88f8e1f9");
    background-repeat: no-repeat;
    
  
  
  }
  
  .page-footer{
   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
  }
  .footer-link{
    display: flex;
   
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
    
  }
  
  .app_header {
    position:sticky;
    top:0;
    z-index:1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    object-fit: contain;
    padding: 10px;
    height: 100px;
    box-shadow: 30px;
    
  }
  
  .loadore{
    display: flex;
    justify-content: space-around;
  }
  .app_footer{
    position: static;
    bottom:0;
    z-index:1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    padding: 10px;
  
  
  }
  
  .app_headerImage{
    
    margin-left: 10px;
    margin-right: 30px;
    height: 74%;
    
    
  }
  .app_headerImage2{
    height: 155px;
    width: 180px;
    
  }
  
  .app_signup{
    display: flex;
    flex-direction: column;
    text-align: center;
  
  }
  .buttons {
    color: blue;
  }
  
  
  .app_posts{
    padding: 10px;
    object-fit: contain;
    justify-content:center;
    display: flex;
    
  }
  
  .searchbut{
    display: flex;
    align-items: center;
    
    flex-direction: row;
  }
  .searchbox{
    padding: 20px;
  }
  
  
  .but2{
    margin-top: 50px;
    padding: 10px;
    height:30px;
    margin-left: 50px;
  }
  
  .but4{
    margin-bottom: 20px;
  }
  
  .but3{
    height: 40px;
  }
  
  
  
  .loginbox,.signupbox{
      right: 0;
     left: 0;
      
      margin-right: auto;
       margin-left: auto;
      margin-top: 50px;
      background-color:transparent;
      
      width:80%;
      justify-content:center;
      
     
      padding: 30px;
      
    
    
  
  
  }
  
  .topload{
    margin-top: 50px;
    margin-left: 500.45px;
    width:870px;
  
    justify-content:center;
    border : 1px solid rgb(90, 92, 95);
    height: auto;
    padding: 20px;
    
    background-color: turquoise;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
    
  
  
  }
  
  .search{
   
    
   
  
    margin-right: auto;
    margin-left: 10%;
    width: 80%;
    margin-top: 10px;
  
  }
  
  
  .topload1{
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-top: 10px;
    
    
    justify-content:center;
    border : 1px solid rgb(221, 227, 236);
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  
    flex-direction: column;
    background-color: white;
  }
  
  .about{
    display: flex;
    background-color: white;
    margin-top: 6px solid black ;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
   
  }
  
  .bb{
    height: 40px;
  }
  .photodiv{
    height: 10px;
    margin-top: 500px;
    display: flex;
    flex-wrap: wrap;
  
  }
  .app_postsLeft2{
    justify-content: center;
    display:flex;
    margin-left: 30px;
    margin-right: 30px;
    object-fit: contain;
    margin-top: 70PX;
    flex-wrap: wrap;
    padding: 30 px;
    
  }
  .post_avatar1{
    margin-right: 30px;
    
    height:50px;
    width: 50px;
  }
  .namesake{
    background-color: turquoise;
    
    margin-left: 180px;
    margin-right: 200px;
    margin-top: 10px;
  }
  .heading{
    margin-left: 90px;
    margin-top: 10px;
    
  }
  .profilepic{
    margin-top: 80px;
    
   
    
  }
  .ppap{
    height: 550px;
  }
  .app_postsLeft23{
    object-fit: contain;
    size: 300px;
    margin-left: 280px;
    max-width: 1600px;
    display: flex;
    justify-content: flex-start;
    flex-shrink: initial;
    flex-wrap: wrap;
    object-fit: contain;
  }
  .topload{
    
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    font-style: normal;
    justify-content: center;
    display: flex;
    align-items: initial;
    flex-wrap: wrap;
    object-fit: contain;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .app_loginContainer{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
    
  
  }
  .button1{
    height: 10%;
    width: 35%;
    margin-left: 30%;
    
  }
  .atana{
  
    justify-content: space-around;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    object-fit: contain;
  
  }
  .app_posts3{
    margin-left: 1%;
    margin-right: 0%;
    justify-content: space-around;
    object-fit: contain;
    width:fit-content;
    width: 10%;
  
  
  }
  
  .loadmore{
    display: flex;
    justify-content: space-around;
  }
  .wrap{
    margin-left: 6px;
    margin-right: 50%;
    height:90%;
    color:gold;
  }
  .bas{
    padding:1%;
    
    height:auto;
    
  }
  .profilepic{
    margin-top:5px;
    height: 45px;
    background-color: white;
  }
  .limka{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:8px;
    margin-left: 10%;
    margin-top: 2%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .limka2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:8px;
    margin-left: 10%;
    margin-top: 2%;
    height: 40px;
    
  }
  .ooo{
    margin-left: 50px;
  }