.imageupload {
    display:flex ;
    flex-direction:column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: ivory;
    border-top:1px solid lightgray;
    justify-content: center;
    
    
}

.pro{
    width: 100%
}